.App {
  text-align: center;
}

.main-content{
  margin: 0 auto;
  overflow: auto;
  margin-top: 40px;
  margin-left: 2px;
}

.react-contextmenu-wrapper{
  flex: 0 0 80px;
}

.react-contextmenu{
  display: inline-block;
  width: 100px;
  background: white;
  border: 1px solid gray;
  z-index: 1;
}

.react-contextmenu-item{
  padding: 4px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.react-contextmenu-item:hover{
  background-color: gray;
}